*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.calc {
    width: 22%;
    position: absolute;
    margin: 13% 41%;
    border: 2px solid black;
    padding: 20px;
    background-image: linear-gradient(#03346E, #6EACDA);
}

input#logic {
    width: 96%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: white;
}

.btn_all {
    position: relative;
    width: 100%;
}

button {
    font-weight: 900;
    width: 22.7%;
    margin: 3px 0 3px 0;
    height: 40px;
    color: white;
    background: transparent;
    border: 2px solid white;
}

button#plus {
    position: absolute;
    height: 86px;
    margin-left: 4px;
}